body {
    background-color: #212121;
    color: azure;
}

.box {
    background-color: aquamarine;
    color: black;
    height: 300px;
    width: 300px;
}

.page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
}

.page2 {
    height: 100vh;
    width: 100%;
    background-color: #222;
}

.page3 {
    height: 100vh;
    width: 100%;
    background-color: #333;
}