* {
    color: bisque;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #212121;
}

.card {
    background-color: darkcyan;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.nav {
    background-color: darkgrey;
    padding: 15px;
    margin: 5px;
    color: darkslategray;
}