* {
    margin: 0;
    padding: 0;
}

h1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 50px;
}

.nav {
    background-color: darkolivegreen;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.nav div {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 15px;
}

.nav a {
    background-color: rgb(67, 65, 65);
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

.nav a:hover {
    transform: scale(1.1)
}