* {
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: #212121;
    color: aliceblue;
}

.nav {}

.light {
    background-color: lightseagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.dark {
    background-color: darkslategrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.nav2 {
    display: flex;
    gap: 30px
}