body {
    background-color: #212121;
    color: aliceblue;
}

button {
    padding: 10px;
    margin: 20px;
}

h1 {
    background: rgb(84, 68, 68);
    width: fit-content;
    font-size: 100px;
    padding: 10px 70px;
    margin: 20px;
    border-radius: 5px;
}